.navbar-brand{
    padding: 6px 15px !important;
    text-align: center;
}
.table tr td a i{
	font-size: 16px;
}
.table tr td a:nth-child(1) i{
	color: green;
}
.table tr td a:nth-child(2) i{
	color: orange;
}
.table tr td a:nth-child(3) i{
	color: red;
}
